* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  -ms-overflow-style: none;
  /*  IE & Edge  */
  scrollbar-width: none;
  /*  firefox  */
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.navContainer {
  height: 10vh;
  width: 100vw;
}

.navContainer .navBox {
  background: rgba(33, 40, 56, 0.9);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(33, 40, 56, 0.3);
  width: 100%;
}

.navContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.navContainer ul .navLogo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem;
}

.navContainer ul .navToggle {
  opacity: 0;
}

.navContainer ul li {
  list-style: none;
  margin: 1rem;
}

.navContainer ul li a {
  text-decoration: none;
  color: #eceef4;
}

.mainContainer {
  background: #eceef4;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 2.5rem;
  gap: 12px;
}

.mainContainer .txtArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer .txtArea h1 {
  font-size: 6.5rem;
  text-align: center;
}

.mainContainer .txtArea h2 {
  font-size: 2rem;
}

.mainContainer .svgArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutContainer {
  background: #eceef4;
  min-height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  gap: 12px;
}

.aboutContainer .profileSvg {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}

.aboutContainer .mobilePic {
  display: none;
}

.aboutContainer .aboutTitle {
  width: 100%;
}

.aboutContainer .aboutTitle h1 {
  text-align: left;
  font-size: 5rem;
  margin: 1rem;
}

.aboutContainer .aboutTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 3rem;
  line-height: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projectContainer {
  background: #eceef4;
  width: 100vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectContainer .projectTxt {
  width: 100%;
}

.projectContainer .projectTxt h1 {
  font-size: 3rem;
  margin: 2rem;
}

.projectContainer .projectTxt p {
  font-size: 2rem;
  line-height: 2;
  margin: 2rem;
}

.projectContainer .devTools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
}

.projectContainer .devTools .mainTools, .projectContainer .devTools .supTools {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem;
}

.projectContainer .devTools .mainTools h2, .projectContainer .devTools .supTools h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projectContainer .devTools .mainTools .svgPack, .projectContainer .devTools .supTools .svgPack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
}

.projectContainer .devTools .mainTools .svgPack .toolsBundle, .projectContainer .devTools .supTools .svgPack .toolsBundle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.projectContainer .devTools .mainTools .svgPack .toolsBundle p, .projectContainer .devTools .supTools .svgPack .toolsBundle p {
  font-size: 2rem;
}

.projectContainer .projectCards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectContainer .projectCards .cards {
  width: 250px;
  height: 250px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  margin: 1rem;
  z-index: 99;
  color: #212838;
  background: rgba(236, 238, 244, 0.85);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 238, 244, 0.3);
  border-radius: 0.8rem;
}

.projectContainer .projectCards .cards h2 {
  font-size: 2rem;
}

.projectContainer .projectCards .cards p {
  font-size: 1.2rem;
}

.projectContainer .projectCards .cards .projBtn {
  background: rgba(11, 37, 69, 0.92);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(11, 37, 69, 0.3);
  color: #15A223;
  width: 120px;
  height: 60px;
  border-radius: 9px;
  cursor: pointer;
  border-style: none;
  margin: 1rem;
  font-size: 1rem;
}

.contactContainer {
  height: 100vh;
  background: #212838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactContainer form {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: #eceef4;
  background: rgba(33, 40, 56, 0.85);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(33, 40, 56, 0.3);
}

.contactContainer form .leftBox {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.contactContainer form .leftBox .title {
  color: #4d5d83;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 3rem;
}

.contactContainer form .leftBox p {
  font-size: 1.5rem;
  text-align: center;
}

.contactContainer form .rightBox {
  height: 100%;
}

.contactContainer form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(236, 238, 244, 0.51);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.contactContainer form input[type=text], .contactContainer form [type=email], .contactContainer form [type=tel] {
  font-size: 1.5rem;
}

.contactContainer form textarea[type=text] {
  font-size: 1.5rem;
}

.contactContainer form .placeHolder {
  pointer-events: none;
  padding: 0.3rem;
  font-size: 1rem;
  opacity: 0.6rem;
}

.contactContainer form textarea {
  background: rgba(236, 238, 244, 0.51);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  resize: none;
  width: 100%;
  border: none;
  outline: none;
}

.contactContainer form .contactBtn {
  background: #4d5d83;
  color: #eceef4;
  border-radius: 0.4rem;
  border-style: none;
  padding: 0.8rem 4rem;
  margin: 1rem;
  margin-left: 40%;
  font-size: 1rem;
}

.contactContainer form .contactBtn:hover {
  background: #d40f0f;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #d40f0f, 0 0 25px #d40f0f;
          box-shadow: 0 0 5px #d40f0f, 0 0 25px #d40f0f;
}

.footContainer {
  background: #212838;
  min-height: 10vh;
  width: 100vw;
}

.footContainer .footDiv {
  width: 100%;
  height: 100%;
  background: rgba(33, 40, 56, 0.9);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(33, 40, 56, 0.3);
}

.footContainer .footDiv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.footContainer .footDiv ul .footCopy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2rem;
}

.footContainer .footDiv ul li {
  list-style: none;
  margin: 1.5rem;
}

.footContainer .footDiv ul li a {
  text-decoration: none;
  color: #eceef4;
}

.footContainer .footDiv ul .socials:hover, .footContainer .footDiv ul a:hover {
  fill: #d40f0f;
}

/*              ______________________________          MOBILE          ______________________________              */
@media only screen and (max-width: 768px) {
  .navContainer {
    position: fixed;
    z-index: 999;
  }
  .navContainer ul {
    height: 100%;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navContainer .navToggle {
    opacity: 1;
    z-index: 999;
  }
  .navContainer .navToggle:hover {
    cursor: pointer;
  }
  .navContainer .navToggle:hover .bar3 {
    stroke: #d40f0f;
  }
  .navContainer .navLinks {
    display: none;
    width: 100%;
    text-align: center;
  }
  .navContainer .navLinks.active {
    display: inline;
    margin: 0;
  }
  .navContainer .navLinks.active:hover {
    background: rgba(80, 105, 128, 0.25);
  }
  .navContainer .navHover:hover::after {
    width: 100%;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    display: none;
  }
  .mainContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
  }
  .mainContainer .svgArea {
    margin-top: 5rem;
  }
  .mainContainer .cpuPhone {
    width: 200px;
    height: 200px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer .profileSvg {
    display: none;
  }
  .aboutContainer .mobilePic {
    display: block;
  }
  .aboutContainer .aboutTxt {
    text-align: center;
  }
  .svgPack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */